@import '../media-queries'

@keyframes button-animation
  from
    background-color: transparentize(white, 0.85)
  to
    background-color: transparentize(white, 1)

.calc
  &__button
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 33.333%
    padding: 1.4rem 0
    font-size: 1.9rem
    transition: background-color 0.3s
    border: none
    border-top: 1px solid transparentize(white, 0.7)
    cursor: pointer
    color: inherit
    animation: button-animation 0.5s
    appearance: none
    background: none

    @include mobile()
      flex-grow: 1

    &:hover
      transition: none
      background-color: transparentize(white, 0.85)

    &:not(:nth-child(3n))
      border-left: 1px solid transparentize(white, 0.7)

    &--operator
      width: 100%
      color: white
      font-weight: 500

    &--double
      width: 66.666%
