@import '../media-queries'

.calc
  &__display
    padding: 1rem 1.6rem
    font-size: 2.6rem
    color: #707070
    text-align: right
    font-weight: 300
    background-color: white

    @include mobile()
      display: flex
      flex-direction: column
      justify-content: center
      flex-grow: 1
