@import 'media-queries'

html, body
  width: 100%
  height: 100%

html
  font-size: 10px

body
  font: 1.4rem "Roboto", sans-serif
  background: radial-gradient(circle at center, #F1F3F6 0, #F1F3F6 30%, #DEE2EA 120%)

*, *:before, *:after
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

#root
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.calc
  margin: 0 auto
  width: 30rem
  text-align: center
  box-shadow: 0 2px 7px transparentize(black, .85), 0 14px 44px transparentize(black, .85)
  background-color: white

  @include mobile()
    display: flex
    flex-direction: column
    align-self: stretch
    width: 100%
  
  &__buttons
    display: flex

    @include mobile
      flex-grow: 5

  &__numpad
    display: flex
    flex-wrap: wrap-reverse
    width: 75%
    color: transparentize(white, .35)
    background: linear-gradient(to top left, #1A1A1A, #404040)

  &__operators
    width: 25%
    background: linear-gradient(to top left, #FF7E5F, #F0963C)

    @include mobile
      display: flex
      flex-direction: column
      flex-grow: 1
