.calc
  &__history
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 1rem 1.6rem
    color: white
    text-align: right
    background: linear-gradient(to top left, #FF7E5F, #F0963C)

    &-content
      font-size: 1.4rem
      height: 3 * 1.6 * 1.4rem

    &-item
      display: block
      line-height: 1.6
      font-weight: 300
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
